# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*
*.db
__pycache__
.idea/*
*.pyc
tmp
.idea/
/.eggs
logs
.pytest_cache
.github

# For Releasing
release
release.pub
rippled
rippled.zip
release.info
# release.sh
rippled-*
definitions.json
db/